body {
  background-color: goldenrod;
}

ul.top li{
  display: inline;
  list-style: none;
}

span.inline {
  display: block;
  border: 1px solid teal;
  margin: 25px;
}

article.n-child section:nth-of-type(even) {
  border: 1px solid purple;
  margin: 15px;
}

article.n-child section:nth-of-type(odd) {
  border: 1px solid navajowhite;
  margin: 15px;
}